@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Dosis:wght@200;300;400;500;600;700;800&family=Varela+Round&family=Yellowtail&display=swap');

body {
  margin: 0;
  font-family: 'Dosis', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.border-10 {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.custom {
  width: 65%;
}

@media (max-width: 768px) {
  .custom {
    width: 100%
  }
}

.textShadow {
  text-shadow: gray 0px 3px 5px
}

.boxShadow {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

}

.backdrop {
  background: #F8FAFC;
}

.cardbackdrop {
  background: #F8FAFC;
}

.accent {
  background: #8B5CF6
}

.accentText {
  color: #8B5CF6
}



.sbColor {
  scrollbar-color: #8B5CF6;
}

.cursive {
  font-family: Yellowtail;
  letter-spacing: .2rem;
}